@page
@model APPClinet.Areas.Identity.Pages.Account.Dashboard.Admin.Details.CourseDetailsViewModel
@{
    var faDetailView = APPClinet.Messages.faMessage.DetailView.ToString();
    ViewData["Title"] = faDetailView;
    Layout = "~/Areas/Identity/Pages/Account/Dashboard/Admin/_UserNavrtl.cshtml";
    var faDetail = APPClinet.Messages.faMessage.Detail.ToString();
    var faSubCategoriesManage = APPClinet.Messages.faMessage.SubCategoriesManage.ToString();
    var faSubCategoriesBackView = APPClinet.Messages.faMessage.SubCategoriesBackView.ToString();
    var faMenusBack = APPClinet.Messages.faMessage.MenusBack.ToString();
    var faTitleCategory = APPClinet.Messages.faMessage.TitleCategory.ToString();
    var faTitleSubCategory = APPClinet.Messages.faMessage.TitleSubCategory.ToString();
    var faPlus = APPClinet.Messages.faMessage.Plus.ToString();
    var faMinus = APPClinet.Messages.faMessage.Minus.ToString();
    var faEdit = APPClinet.Messages.faMessage.Edit.ToString();
    var faEmail = APPClinet.Messages.faMessage.Email.ToString();
    var faSubCategoriesNotfound = APPClinet.Messages.faMessage.SubCategoriesNotfound.ToString();
    int count = 1;
    var faPrev = APPClinet.Messages.faMessage.Prev.ToString();
    var faNext = APPClinet.Messages.faMessage.Next.ToString();
}

<div class="p-0 mb-2">
    <div class="row">
        <div class="col-sm-5">
            <h2 class="text-left">@faSubCategoriesManage&nbsp;@faDetail</h2>
        </div>
        <div class="col-sm-7">
            <a class="btn btn-dark font-weight-bold" href="/Identity/Account/Dashboard/Admin/SubCategories/CourseSubCategoriesView"><i class="fas fa-arrow-alt-circle-left mr-2"></i>@faSubCategoriesBackView</a>
            <a class="btn btn-secondary font-weight-bold" href="/Identity/Account/Dashboard/Admin/Menus"><i class="fas fa-chevron-circle-left mr-2"></i>@faMenusBack</a>
        </div>
    </div>
</div>
@*@if (Model.details.Count() > 0)
{
    <form method="post">
        <table class="table table-striped table-hover">
            <thead>

            </thead>
            <tbody>
                @foreach (var item in Model.details.OrderByDescending(u => u.Date))
                {

                }
            </tbody>
        </table>
    </form>
}*@
@if (Model.pages.courseDetails.Count() > 0)
{
    <form method="post">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th><i class="fas fa-eye mr-2 f10"></i></th>
                    <th></th>
                    @*<th scope="col">@faTitleCategory</th>*@
                    @*<th scope="col">@faTitleSubCategory</th>*@
                    <th scope="col"><span class="text-success">@faPlus</span>&nbsp;/&nbsp;<span class="text-danger">@faMinus</span></th>
                    <th scope="col">@faEdit</th>
                    @*<th scope="col">@faEmail</th>*@
                    <th scope="col"><i class="fas fa-file-video mr-2 f10"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.pages.courseDetails)
                {
                    string bg = "";
                    if (item.ActivePassive == false)
                    {
                        bg = "background-color: #ffeaed;";
                    }
                    <tr class="font-weight-bold" style="font-size: 0.83rem !important; @bg">
                        <th scope="row">@count</th>
                        <td>@if (item.CountViews == null){<span>0</span>}@if (item.CountViews > 0){<span>@item.CountViews</span>}</td>
                        <th><span class="text-secondary f15">@item.Title</span><br />@item.Tbl_CourseCategories.TitleCategory<i class="fas fa-chevron-down ml-2"></i><br /><b><i class="fas fa-caret-left mr-2"></i>@item.Tbl_CourseSubCategories.TitleSubCategory</b><br /><b class=" text-blue fen f10n">@item.AspNetUsers.UserName</b></th>
                        @*<td>@item.Tbl_ChurchCategories.TitleCategory</td>*@
                        @*<td>@item.Tbl_ChurchSubCategories.TitleSubCategory</td>*@
                        <td>
                            @{
                                if (item.ActivePassive == false)
                                {
                                    <button asp-page-handler="Active" asp-route-id="@item.Id" class="btn btn-icon btn-sm btn-success"><i class="fas fa-check"></i></button>
                                }
                                else
                                {
                                    <button asp-page-handler="Inactive" asp-route-id="@item.Id" class="btn btn-icon btn-sm btn-danger"><i class="fas fa-times"></i></button>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (item != null)
                                {
                                    <a href="/Identity/Account/Dashboard/Admin/Details/CourseDetailEdit?id=@item.Id" class="btn btn-icon btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                                }
                            }
                        </td>
                        @*<td class="fen">@item.AspNetUsers.UserName</td>*@
                        <td>
                            <a href="/Identity/Account/Dashboard/Admin/Details/CourseVideoAdd?id=@item.Id" class="btn btn-icon btn-sm btn-primary"><i class="fas fa-plus"></i></a>
                            <a href="/Identity/Account/Dashboard/Admin/Details/CourseVideosView?id=@item.Id" class="btn btn-icon btn-sm btn-secondary"><i class="fas fa-file-video"></i></a>

                        </td>
                    </tr>
                    count = count + 1;
                }
            </tbody>
        </table>
    </form>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h6 class="text-center mb-0"><span class="text-white font-weight-bold">@faSubCategoriesNotfound</span></h6>
    </div>
}
<!-- PAGINATION START -->
@*href="javascript:void(0)"*@
@if (Model.pages.PageCount > 1)
{
    <div class="col-12 pt-md-4 pt-5">
        <ul class="pagination justify-content-center mb-0">
            @if (Model.pages.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" href="/Identity/Account/Dashboard/Admin/Details/CourseDetailsView?pageid=@(Model.pages.CurrentPage - 1)" aria-label="Previous">@faPrev</a></li>
            }
            @for (int i = 1; i <= Model.pages.PageCount; i++)
            {
                <li class="page-item @((i == Model.pages.CurrentPage)? "active" : "")">
                    @if (i == Model.pages.CurrentPage)
                    {
                        <span class="page-link" style="cursor: default;">@i</span>
                    }
                    @if (i != Model.pages.CurrentPage)
                    {
                        <a class="page-link" href="/Identity/Account/Dashboard/Admin/Details/CourseDetailsView?pageid=@i">@i</a>
                    }
                </li>
            }
            @if (Model.pages.CurrentPage < Model.pages.PageCount)
            {
                <li class="page-item"><a class="page-link" href="/Identity/Account/Dashboard/Admin/Details/CourseDetailsView?pageid=@(Model.pages.CurrentPage + 1)" aria-label="Next">@faNext</a></li>
            }
        </ul>
    </div>
}
<!-- PAGINATION END -->