@page
@model APPClinet.Areas.Identity.Pages.Account.Dashboard.User.ChangePasswordModel
@{
    var faChangePassword = APPClinet.Messages.faMessage.ChangePassword.ToString();
    ViewData["Title"] = faChangePassword;
    Layout = "~/Areas/Identity/Pages/Account/Dashboard/User/_UserNavrtl.cshtml";
    var faCurrentPassword = APPClinet.Messages.faMessage.CurrentPassword.ToString();
    var faNewPassword = APPClinet.Messages.faMessage.NewPassword.ToString();
    var faNewConfirmPassword = APPClinet.Messages.faMessage.NewConfirmPassword.ToString();
    var faButtonSave = APPClinet.Messages.faMessage.ButtonSave.ToString();
}

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
<form class="changepassword-form mt-4" id="changepassword-form" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label asp-for="Input.OldPassword">@faCurrentPassword</label>
                <i class="fas fa-unlock icon-sm icons"></i>
                <input type="password" asp-for="Input.OldPassword" class="form-control pl-5 fen" placeholder="">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
        </div><!--end col-->

        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label asp-for="Input.NewPassword">@faNewPassword</label>
                <i class="fas fa-lock icon-sm icons"></i>
                <input type="password" asp-for="Input.NewPassword" class="form-control pl-5 fen" placeholder="">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div><!--end col-->

        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label asp-for="Input.ConfirmPassword">@faNewConfirmPassword</label>
                <i class="fas fa-lock icon-sm icons text-danger"></i>
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control pl-5 fen" placeholder="">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div><!--end col-->

        <div class="col-lg-12 mb-0">
            <button class="btn btn-primary btn-block">@faButtonSave</button>
        </div><!--end col-->
    </div><!--end row-->
</form>
@section Scripts {
    @*sweetalert2.github.io/*@
    @*animate.style*@
    @*bootstrap-notify.remabledesigns.com/*@
    @*php-flasher.github.io/*@
    @*codeseven.github.io/toastr/demo.html*@
    @*onaircode.com/awesome-javascript-alert-box-code-snippet/*@
    @if (Model.StatusMessage != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '@Model.StatusMessage'
            })
        </script>
}
    <partial name="_ValidationScriptsPartial" />
}