@page
@model ForgotPasswordModel
@{
    var faTitleForgot = APPClinet.Messages.faMessage.TitleForgot.ToString();
    ViewData["Title"] = faTitleForgot;
    Layout = "~/Views/Shared/fa/rtl/_rtlLayout.cshtml";
    var faMessageForgot = APPClinet.Messages.faMessage.MessageForgot.ToString();
    var faButtonForgot = APPClinet.Messages.faMessage.ButtonForgot.ToString();
    var faEmail = APPClinet.Messages.faMessage.Email.ToString();
    var faPassword = APPClinet.Messages.faMessage.Password.ToString();
    var faConfirmPassword = APPClinet.Messages.faMessage.ConfirmPassword.ToString();
    var faTitleLogin = APPClinet.Messages.faMessage.TitleLogin.ToString();
    var faTitleRegister = APPClinet.Messages.faMessage.TitleRegister.ToString();
}

<!-- Hero Start -->
<section class="bg-half bg-white d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <!-- Hero Start -->
                <div class="row">
                    <div class="col-12">
                        <div class="card login-page border-0 shadow" style="z-index: 1">
                            <div class="card-body p-5">
                                <h4 class="card-title text-center mb-0">@faTitleForgot&nbsp;<span class="text-secondary f10"><br />@faMessageForgot</span></h4>
                                <form class="forgot-form mt-4" asp-route-returnUrl="@Url.Content("~/")" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <label asp-for="Input.Email">@faEmail</label>
                                                <i class="far fa-envelope icon-sm icons"></i>
                                                <input type="email" asp-for="Input.Email" class="form-control pl-5 fen" placeholder="">
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-lg-12 mb-0">
                                            <button class="btn btn-primary btn-block">@faButtonForgot</button>
                                        </div><!--end col-->

                                        <div class="col-12 text-center">
                                            <p class="mb-0 mt-3"><i class="fa fa-user mr-2"></i><b class="text-dark mr-2"></b><a asp-page="./Login" class="text-primary font-weight-bold f25">@faTitleLogin</a></p>
                                        </div><!--end col-->

                                        <div class="col-12 text-center">
                                            <p class="mb-0 mt-3"><i class="fa fa-user-plus mr-2"></i><b class="text-dark mr-2">شما حساب ندارید؟</b><a asp-page="./Register" class="text-primary font-weight-bold f25">@faTitleRegister</a></p>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <!-- Hero End -->
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
@section Scripts {
    @if (Model.ErrorStatusMessage != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'error',
                title: '@Model.ErrorStatusMessage'
            })
        </script>
    }
    <partial name="_ValidationScriptsPartial" />
}