@page
@model ResetPasswordModel
@{
    var faTitleResetPassword = APPClinet.Messages.faMessage.TitleResetPassword.ToString();
    ViewData["Title"] = faTitleResetPassword;
    Layout = "~/Views/Shared/fa/rtl/_rtlLayout.cshtml";
    var faTitleForgot = APPClinet.Messages.faMessage.TitleForgot.ToString();
    var faMessageResetPassword = APPClinet.Messages.faMessage.MessageResetPassword.ToString();
    var faButtonSave = APPClinet.Messages.faMessage.ButtonSave.ToString();
    var faEmail = APPClinet.Messages.faMessage.Email.ToString();
    var faPassword = APPClinet.Messages.faMessage.Password.ToString();
    var faConfirmPassword = APPClinet.Messages.faMessage.ConfirmPassword.ToString();
}

<!-- Hero Start -->
<section class="bg-half bg-white d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <!-- Hero Start -->
                <div class="row">
                    <div class="col-12">
                        <div class="card login-page border-0 shadow" style="z-index: 1">
                            <div class="card-body p-5">
                                <h4 class="card-title text-center mb-0">@faTitleResetPassword&nbsp;<span class="text-secondary f10"><br />@faMessageResetPassword</span></h4>
                                <form class="rest-form mt-4" id="rest-form" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <input asp-for="Input.Code" type="hidden" />
                                                <input asp-for="Input.UserId" type="hidden" />
                                                <input asp-for="Input.Link" type="hidden" />
                                                <label asp-for="Email">@faEmail</label>
                                                <i class="far fa-envelope icon-sm icons"></i>
                                                <input type="email" asp-for="Email" class="form-control pl-5 fen" placeholder="" disabled>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <label asp-for="Input.Password">@faPassword</label>
                                                <i class="fas fa-lock icon-sm icons"></i>
                                                <input type="password" asp-for="Input.Password" class="form-control pl-5 fen" placeholder="">
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <label asp-for="Input.ConfirmPassword">@faConfirmPassword</label>
                                                <i class="fas fa-lock icon-sm icons text-danger"></i>
                                                <input asp-for="Input.ConfirmPassword" class="form-control pl-5 fen" placeholder="">
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-lg-12 mb-0">
                                            <button class="btn btn-primary btn-block">@faButtonSave</button>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <!-- Hero End -->
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}